
<div class="current-circle">
  <i class="wi wi-day-sunny"></i>
  <h3 class="current-summary">{{model.items.currently.summary}}</h3>
  <h3 class="current-temperature">{{model.items.currently.temperature}} <i class="wi wi-fahrenheit"></i></h3>
  <h3 class="current-feelslike">Feels Like: {{model.items.currently.apparentTemperature}}</h3>
</div>
<h3 class="current-humidity"><i class="wi wi-hot"></i> Humidity: {{model.items.currently.humidity}}</h3>
<h3 class="current-cloudcover"><i class="wi wi-cloudy"></i> Cloud Cover: {{model.items.currently.cloudCover}}</h3>
<h3 class="current-chancetorain"><i class="wi wi-sprinkles"></i> {{model.items.currently.precipProbability}}% Chance to Rain</h3>
<h3 class="current-neareststorm"><i class="wi wi-storm-showers"></i> Nearest Storm: {{model.items.currently.nearestStormDistance}}mi</h3>
